.homeRow {
  display: flex;
  flex-wrap: wrap;
  padding: 0 0px;
}

/* Create two equal columns that sits next to each other */
.homeColumn {
  float: middle;
  text-align: center; 
  width: 11vw;
  padding: 0 4px;
  
}

.homeColumn img {
  margin: 8px;
  width: 100%;
  filter: opacity(90%) grayscale(75%) invert(85%) drop-shadow(0px 0px 1px gray);

}

.homeColumn img:hover {
  filter: opacity(90%) grayscale(75%) invert(85%) drop-shadow(0px 0px 1px gray);
  animation-name:homeImageHover;
  animation-duration: 7s;
  animation-iteration-count: infinite;
}

@keyframes homeImageHover {
	0%   {filter: opacity(90%) grayscale(75%) invert(85%) drop-shadow(0px 0px 1px gray);
	}
	50%  {filter: opacity(100%) grayscale(0%) invert(0%) drop-shadow(2px 2px 300px gray);
	}
	100% {filter: opacity(90%) grayscale(75%) invert(85%) drop-shadow(0px 0px 1px gray);
	}
}